<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributed Event Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="landing">
    <header>
        <h1>🎟️ Distributed Event Registration System</h1>
        <p>Book your seats instantly for exciting events around you!</p>
        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/signup" class="btn-outline">Sign Up</a>
        </div>
    </header>
</body>
</html>
